body {

  background-repeat: no-repeat;
  object-fit: cover;
  background: black;
 background-size: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
